<!DOCTYPE html>
<html lang="en">
<head>
   {% include 'mediator/head.html' %}
</head>
<body>
    
    {% include 'mediator/header.html' %}

    <div class="container-fluid my-4 mt-3 px-5">
        <div class="row g-3">
            <div class="col-md-3">
                <div class="case-card case-purple p-3">
                      <a href="mediation_cases.php" class="stretched-link"></a>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <span class="text-muted">Assigned Cases</span><br>
                            <i class="bi bi-file-earmark-text text-primary"></i>
                        </div>
                        <h2 class="fw-bolder">8</h2>
                        <small class="txt-c">Currently assigned</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
               <div class="case-card case-blue p-3">
                  <a href="mediation_cases.php" class="stretched-link"></a>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-10">
                        <span class="card-title text-muted ">Pending Acceptance</span><br>
                        <i class="bi bi-clock-history" style="color:#FFD700; font-size:20px;"></i>
                        </div>
                        <h2 class="fw-bolder">2</h2>
                        <small class="txt-c">Awaiting response</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
               <div class="case-card case-green p-3">
                  <a href="mediation_cases.php" class="stretched-link"></a>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-10">
                        <span class="card-title text-muted">Active Sessions</span><br>
                      <i class="fa-solid fa-calendar" style="color:#5bc0de; font-size:20px;"></i>

                        </div>
                        <h2 class="fw-bolder">4</h2>
                        <small class="txt-c">In progress</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="case-card case-yellow p-3">
                      <a href="mediation_cases.php" class="stretched-link"></a>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-10">
                        <span class="card-title text-muted">Completed</span><br>
                            <i class="bi bi-check-circle text-success"></i>
                        </div>
                        <h2 class="fw-bolder">23</h2>
                        <small class="txt-c">Total completed</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
<div class="container-fluid my-4 mt-3 px-5">

    <!-- Pending Actions -->
    <div class="card mb-3">
        <div class="card-header fw-bold">Pending Actions</div>
        <div class="card-body">

            <div class="pending-box pending-yellow d-flex justify-content-between align-items-center">
                <div>
                    <strong>Mediation Appointment Acceptance Required</strong><br>
                    <small>MED-20250901-001 - HDFC Bank vs Rajesh Enterprises</small>
                </div>
                <div>
                    <button class="btn btn-sm btn-outline-secondary">Decline</button>
                    <button class="btn btn-sm btn-primary">Accept</button>
                </div>
            </div>

            <div class="pending-box pending-blue d-flex justify-content-between align-items-center">
                <div>
                    <strong>Settlement Agreement Pending</strong><br>
                    <small>MED-20250901-003 - Draft settlement terms for review</small>
                </div>
                <button class="btn btn-sm btn-primary"><i class="fa-regular fa-file-lines me-2"></i>Review Draft</button>
            </div>

        </div>
    </div>

    <!-- Upcoming Hearings -->
    <div class="card">
        <div class="card-header fw-bold">Upcoming Mediation Sessions</div>
        <div class="card-body">

            <div class="hearing-box d-flex justify-content-between align-items-center">
                <div>
                    <div class="fw-bold">HDFC Bank vs Rajesh Enterprises</div>
                    <small>Jan 18, 2025 at 10:00 AM • Sysco180 Office, BKC Mumbai</small><br>
                    <span class="badge bg-secondary mt-1">Intial Mediation</span>
                </div>
                <div>
                    <button class="btn btn-sm btn-outline-dark"><i class="bi bi-eye"></i></button>
                    <button class="btn btn-sm btn-primary">Join Session</button>
                </div>
            </div>

            <div class="hearing-box d-flex justify-content-between align-items-center">
                <div>
                    <div class="fw-bold">ICIC bank vs Sharma Industries</div>
                    <small>Jan 22, 2025 at 2:00 AM • Video Conference</small><br>
                    <span class="badge bg-secondary mt-1">Settlement Discussion</span>
                </div>
                <div>
                    <button class="btn btn-sm btn-outline-dark"><i class="bi bi-eye"></i></button>
                    <button class="btn btn-sm btn-primary">Join Session</button>
                </div>
            </div>

        </div>
    </div>

</div>



   {% include 'mediator/script.html' %}
</body>
</html>
