<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'mediator/head.html' %}
</head>
<body>
    
    {% include 'mediator/header.html' %}

    <div class="container-fluid mt-3">

         <div class="card p-3 mx-5 mb-4 my-6 mt-4"> 
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="page_head">
                        <div>
                            <h2>Case Queue</h2>
                            <!-- <p class="num">1247 of 1247 cases</p> -->
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <div class="input-group ser_group">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-magnifying-glass"></i></span>
                                <input type="text" class="form-control" placeholder="Search cases...">
                            </div>
                            <button class="download_btn"><i class="fas fa-filter"></i> Filter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <table class="new_table table table-hover dt-responsive myTable">
                        <thead>
                            <tr>
                                <th>Case ID</th>
                                <th>Parties</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Stages</th>
                                <th>Next Hearing</th>	
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>MED-20250901-001</td>
                                <td>HDFC Bank vs Rajesh Enterprises</td>
                                <td>₹8,50,000</td>
                                <td><span class="status blue">Mediation Assigned</span></td>
                                <td>Intial Mediation</td>
                                <td>Jan 15,2025,2:00 PM</td>
                                <td class="actions-cell">
                                   <div class="d-flex align-items-center gap-2">
                                       
                                        <button class="btn btn-primary custom-accept">Accept</button>
                                        <div class="dropdown">
                                            <button class="bg_n_btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="med_cases_view.php"><i class="fa-regular fa-eye me-2"></i>View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa-regular fa-pen-to-square me-2"></i>Edit Case</a></li>
                                                <!-- <li><a class="dropdown-item" href="#"><i class="fa-regular fa-file-zipper me-2"></i>Generate Report</a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>MED-20250901-002</td>
                                <td>ICIC Bank vs Sharma Industries</td>
                                <td>₹12,50,000</td>
                                <td><span class="status-hearing">Mediation Session</span></td>
                                <td>Settlement Discussion</td>
                                <td>Jan 20,2025,11:00 PM</td>
                                <td class="actions-cell">
                                    <div class="d-flex align-items-center gap-2">
                                      
                                        <button class="btn btn-primary custom-accept">Accept</button>
                                        <div class="dropdown">
                                            <button class="bg_n_btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="med_cases_view.php"><i class="fa-regular fa-eye me-2"></i>View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa-regular fa-pen-to-square me-2"></i>Edit Case</a></li>
                                                <!-- <li><a class="dropdown-item" href="#"><i class="fa-regular fa-file-zipper me-2"></i>Generate Report</a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>	
                                <td>MED-20250901-003</td>
                                <td>SBI vs Kumar Textiles</td>
                                <td>₹9,00,000</td>
                                <td><span class="status pending_validation">Final Settlement</span></td>
                                <td>Final Settlement</td>
                                <td>Jan 25,2025,3:00 AM</td>
                                <td class="actions-cell">
                                   <div class="d-flex align-items-center gap-2">
                                        
                                        <button class="btn btn-primary custom-accept">Accept</button>
                                        <div class="dropdown">
                                            <button class="bg_n_btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="med_cases_view.php"><i class="fa-regular fa-eye me-2"></i>View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa-regular fa-pen-to-square me-2"></i>Edit Case</a></li>
                                                <!-- <li><a class="dropdown-item" href="#"><i class="fa-regular fa-file-zipper me-2"></i>Generate Report</a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {% include 'mediator/script.html' %}
    <script>
        new DataTable('.myTable', {
            responsive: true
        });
    </script>
</body>
</html>
