<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'mediator/head.html' %}
</head>
<body>
    
  {% include 'mediator/header.html' %}

    <div class="container-fluid mt-3">
        <div class="card p-3 mx-5 mb-4 my-6 mt-4 rounded">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="page_head">
                        <h2>Session Management</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="nav_sec mb-3" id="nav-tab" role="tablist">
                        <button class="nav_link active" id="upcoming-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab" aria-controls="bulk_upload" aria-selected="true">Upcoming Sessions</button>
                        <button class="nav_link" id="completed-tab" data-bs-toggle="tab" data-bs-target="#completed" type="button" role="tab" aria-controls="single_case" aria-selected="false">Completed</button>
                        <button class="nav_link" id="session-tab" data-bs-toggle="tab" data-bs-target="#session" type="button" role="tab" aria-controls="single_case" aria-selected="false">Sessions Notes & Records</button>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <!-- upcoming -->            
                        <div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab"> 
                            <div class="hearing-card">
                                <div class="row align-items-center">
                                    <div class="col-md-9">
                                        <h5 class="case-title">HDFC Bank vs Rajesh Enterprises</h5>
                                        <p class="case-id">Case ID: MED-20250901-001</p>
                                    <div class="hearing-info">
                                    <span><i class="fa-regular fa-calendar"></i> Jan 18, 2025</span>
                                    <span><i class="fa-regular fa-clock"></i> 10:00 PM</span>
                                    <span><i class="fa-solid fa-location-dot"></i> Sysco180 Office, BKC Mumbai</span>
                                </div>
                                <span class="badge stage-badge">Intial Mediation</span>
                            </div>
                            <div class="col-md-3 text-md-end mt-3 mt-md-0 d-flex gap-2">
                                <button class="btn btn-outline-dark reschedule-btn gap-2"><i class="fa-regular fa-calendar-days"></i> Reschedule</button>
                                <button class="btn btn-primary join-btn"><i class="fa-solid fa-video"></i> Join Session</button>
                            </div>
                            </div>
                            </div>
                            <div class="hearing-card">
                                <div class="row align-items-center">
                                    <div class="col-md-9">
                                    <h5 class="case-title">ICIC Bank vs Sharma Industries</h5>
                                    <p class="case-id">Case ID: MED-20250901-002</p>
                                        <div class="hearing-info">
                                        <span><i class="fa-regular fa-calendar"></i> Jan 22, 2025</span>
                                        <span><i class="fa-regular fa-clock"></i> 2:00 PM</span>
                                        <span><i class="fa-solid fa-video"></i> Video Conference</span>
                                </div>
                            <span class="badge stage-badge followup">Settlement Discussion</span>
                        </div>
                        <div class="col-md-3 text-md-end mt-3 mt-md-0 d-flex gap-2 ">
                            <button class="btn btn-outline-dark reschedule-btn gap-2"><i class="fa-regular fa-calendar-days"></i> Reschedule</button>
                            <button class="btn btn-primary join-btn"><i class="fa-solid fa-video"></i> Join Session</button>
                        </div>
                        </div>
                            </div>
                        </div>
                        <!-- completed -->
                        <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
                            <div class="row">
                                <div class="col-12">
                                    <div class="empty-state-card text-center">
                                        <div class="empty-icon">
                                        <i class="fas fa-users"></i>
                                        </div> 
                                        <h5 class="empty-title">No completed sessions</h5>
                                        <p class="empty-text">Completed Mediation sessions will appear here with downloadable records</p>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Recording & Documents -->
                        <!-- Recording & Documents -->
                <div class="tab-pane fade" id="session" role="tabpanel" aria-labelledby="session-tab">
                <div class="main-card">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5>Upload Session Documents</h5>
                <button class="btn btn-dark">
                    <i class="fa-solid fa-upload"></i> Upload Files
                </button>
            </div>

            <div class="inner-cards">
                <!-- Minutes of Meeting -->
                <div class="sub-card d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                    <i class="fa-regular fa-message me-2 icon-msg"></i>
                        <div>
                            <h6 class="mb-1">Session Notes Template</h6>
                            <small class="text-muted">Upload mediation session notes and outcome</small>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary">Upload Notes</button>
                </div>

                <!-- Video/Audio Recording -->
                <div class="sub-card d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                    <i class="fa-regular fa-file-lines me-2 icon-file"></i>
                        <div>
                            <h6 class="mb-1">Settlement Agreement</h6>
                            <small class="text-muted">Upload signed Settlement agreements</small>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary"></i>Upload Agreement</button>
                </div>
        </div>
        </div>
    </div>

                </div>
            </div>
            </div>
        </div>
    </div>

      {% include 'mediator/script.html' %}
</body>
</html>
