<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Personal Information — Sysco180</title>

  <!-- Bootstrap & Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/css/style.css" rel="stylesheet">
</head>
<body>
  
    <div class="login_page">
          <div class="login_a">
            <div>
              <img src="/static/assets/images/final_logo_w.avif" class="final_logo mb-4" />
            </div>
            <h1 class="hero-title">Streamlined Digital Arbitration Platform</h1>
            <p class="hero-desc mb-3">
              Efficiently manage institutional arbitration cases from intake to
              award. Designed for banks, administrators, and arbitrators.
            </p>
          </div>

        <div class="login_form">
                <div class=" d-flex justify-content-center align-items-center" style="min-height:100vh;">
                <div class="useradd_d pd">

                    <!-- Stepper -->
                <div class="d-flex justify-content-center mb-3 align-items-center stepper">
                      <div class="rounded-circle text-white d-flex align-items-center justify-content-center step inactive-step">
                        1
                      </div>
                      <div class="line"></div>
                      <div class="rounded-circle text-white d-flex align-items-center justify-content-center step active-step">
                        2
                      </div>
                      <div class="line"></div>
                      <div class="rounded-circle text-white d-flex align-items-center justify-content-center step inactive-step">
                        3
                      </div>
                </div>

                            <!-- Page Heading -->
                  <h5 class="text-center mb-2">Personal Information</h5><br>
                  <div class="text-center mb-2">
                    <i class="bi bi-person-lines-fill" style="font-size:28px; color:#0b3b5e;"></i>
                  </div>
                  <p class="text-center text-muted">Tell us more about yourself</p>

                        <!-- Personal Info Form -->
        <form id="personal_information_form" novalidate>
           <input type="hidden" id="user_registration_type" name="user_registration_type" value="">
           <input type="hidden" id="terms_and_conditions" name="terms_and_conditions">
          {% csrf_token %}
          <input type="hidden" id="user_registration_type" name="user_registration_type" value="">
                <div class="mb-3 text-start">
                  <label class="form-label fw-bold">Name</label>
                  <input type="text" class="form-control" id="name" name="full_name" placeholder="Enter your name">
                </div>
                <div class="mb-3 text-start">
                  <label class="form-label fw-bold">Email ID</label>
                  <input type="email" class="form-control" id="email_id" name="email_id" placeholder="Enter your email">
                </div>
                <div class="mb-3 text-start">
                  <label class="form-label fw-bold">Contact No</label>
                  <input type="tel" class="form-control" id="contact_no" name="contact_no" placeholder="Enter your contact no" required pattern="[0-9]{10}" minlength="10" maxlength="10" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                </div>
                 <div class="mb-3 text-start">
                  <label class="form-label fw-bold">Bank Name</label>
                 <select name="bank_name" class="form-control" id="bank_name">
                      <option selected disabled>Select Bank Name</option>
                      {% for bank in bank_name %}
                          <option value="{{ bank.id }}">{{ bank.BANK_NAME }}</option>
                      {% endfor %}
                      <option value="other">Others</option>
                  </select>
                </div>
                <div class="mb-3 text-start">
                  <label class="form-label fw-bold">Indian National / Foreign </label>
                  <textarea class="form-control" rows="2" id="nationality" name="nationality" placeholder="Enter Your Nationality "></textarea>
                </div>
                 
                <div class="mb-3 text-start">
                  <label class="form-label fw-bold">State</label>
                 <select class="form-control select2 state_data" value="" id='state' name='state' required></select>
                </div>

                <div class="mb-3 text-start">
                  <label class="form-label fw-bold">City</label>
                  <select type="text" class="form-control select2 form-select city_data" value="" id='city' name='city' required></select>
                      <label class="city_info"><medium class="text-danger">Please Select State to display city</medium></label>
                </div>

                <div class="mb-3 text-start">
                  <label class="form-label fw-bold">Pin code</label>
                   <input type="text" class="form-control" id="pin_code" name="pin_code" placeholder="Enter pincode" pattern="^[1-9][0-9]{5}$" minlength="6" maxlength="6" required>
                </div>

                 <div class="mb-3 text-start">
                  <label class="form-label fw-bold">Address</label>
                  <textarea class="form-control" rows="2" id="address" name="address" placeholder="Enter your Complete address(Residencial/Registered)"></textarea> 
                </div>
                <div class="mb-3 text-start">
                  <label class="form-label fw-bold"> Permanent Address</label>
                  <textarea class="form-control" rows="2" id="permanent_address" name="permanent_address" placeholder="Enter your Corporate address(Corporate office/Branch)"></textarea> 
                </div>
              
              <!-- Buttons -->
                <div class="d-flex justify-content-between">
                   <a href="/registration" class="btn btn-outline-secondary">← Back</a>
                  <button type="submit" class="btn btn-primary">Submit → </button>
                </div>
        </form>

        </div>

    </div>

     {% include 'script.html' %}
      <script src="\static\assets\js\User\user_registration.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
  
    const savedType = localStorage.getItem("user_registration_type");
   
    const savedTerms = localStorage.getItem("terms_and_conditions");

    if (savedType) {
        const typeField = document.getElementById("user_registration_type");
        if (typeField) {
            typeField.value = savedType;
            console.log("Loaded user_registration_type from localStorage:", savedType);
        }
    } else {
        console.warn("No user_registration_type found in localStorage!");
        toastr.warning("Registration type not found — please restart registration.");
    }

    if (savedTerms && savedTerms.toLowerCase() === "true") {
        const termsCheck = document.getElementById("termsCheck");
        if (termsCheck) {
            termsCheck.checked = true;
            console.log("Restored terms_and_conditions from localStorage: accepted");
        }
    }
});
</script>

    
</body>
</html>
