<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <style>
    h2.text-center, h4.text-center {
        font-weight: 600;
    }
</style>

</head>
<body>
    
     {% include 'header.html' %}

    <div class="container-fluid mt-3">
        <div class="card p-3 mx-5 mb-4 my-6 mt-4 rounded">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="page_head">
                        <h2>bank User Case Details - MED-20250901-001</h2>
                    </div>
            
                    <div class="col-lg-12">
                        <div class="nav_sec mb-3" id="nav-tab" role="tablist">
                            <button class="nav_link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">Overview</button>
                            <button class="nav_link" id="document-tab" data-bs-toggle="tab" data-bs-target="#document" type="button" role="tab" aria-controls="document" aria-selected="false">Documents</button>
                            <button class="nav_link" id="single_case-tab" data-bs-toggle="tab" data-bs-target="#single_case" type="button" role="tab" aria-controls="actions" aria-selected="false">Sessions</button>
                            <button class="nav_link" id="single_case-tab" data-bs-toggle="tab" data-bs-target="#single_case" type="button" role="tab" aria-controls="single_case" aria-selected="false">Settlement</button>
                            <button class="nav_link" id="single_case-tab" data-bs-toggle="tab" data-bs-target="#single_case" type="button" role="tab" aria-controls="single_case" aria-selected="false">Audit</button>
                            <button class="nav_link" id="actions-tab" data-bs-toggle="tab" data-bs-target="#actions" type="button" role="tab" aria-controls="actions" aria-selected="false">Actions</button>
                        </div>

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade active show overview_tab" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                
                                    <div class="heading">
                                       <h4 class="text-center mb-3">Customer Details View</h4>
                                    </div>
                                    <br>
                                    <form action="">
                                        <div class="row">

                                            <!-- Intent Ref No -->
                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">Intent Reference Number</label>
                                                <input type="text" class="form-control form_control" value="{{ case.INTENT_REFERENCE_NO }}" readonly>
                                            </div>

                                            <!-- Email Address -->
                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">Email Id</label>
                                                <input type="email" class="form-control form_control" value="{{ case.EMAIL_ID }}" readonly>
                                            </div>

                                            <!-- Loan Agreement / Prospect No -->
                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">Loan Agreement / Prospect Number</label>
                                                <input type="text" class="form-control form_control" value="{{ case.LOAN_AGREEMENT_NO }}" readonly>
                                            </div>

                                            <!-- Customer Name -->
                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">Customer Name</label>
                                                <input type="text" class="form-control form_control" value="{{ case.CUSTOMER_NAME }}" readonly>
                                            </div>

                                            <!-- Customer Address -->
                                            <div class="col-lg-12 mb-3">
                                                <label class="form-label">Customer Address</label>
                                                <textarea class="form-control form_control" rows="3" readonly>{{ case.CUSTOMER_ADDRESS }}</textarea>
                                            </div>
                                            <br><br>
                                            <hr>
                                            <br>
                                            <!-- Party Details -->
                                            <div class="col-12 mb-3">
                                                <h4 class="text-center mb-3">Party Details</h4> <br>

                                                <div id="parties-section">
                                                    {% for p in parties %}
                                                    <div class="row mb-2 party-group align-items-center">
                                                        <div class="col-lg-6">
                                                             <label class="form-label">Party Name</label>
                                                            <input type="text" class="form-control form_control" value="{{ p.PARTY_NAME }}" readonly>
                                                        </div>
                                                        <div class="col-lg-6">
                                                             <label class="form-label">Party Address</label>
                                                            <textarea class="form-control form_control" rows="2" readonly>{{ p.PARTY_ADDRESS }}</textarea>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <hr>
                                            <br><br>
                                            <!-- Financial Data -->
                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">Pending Due Amount (₹)</label>
                                                <input type="text" class="form-control form_control" value="{{ case.PENDING_DUE_AMOUNT }}" readonly>
                                            </div>

                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">Total Outstanding Amount (₹)</label>
                                                <input type="text" class="form-control form_control" value="{{ case.TOTAL_OUTSTANDING_AMOUNT }}" readonly>
                                            </div>

                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">Outstanding Amount As On</label>
                                                <input type="text" class="form-control form_control" value="{{ case.OUTSTANDING_AMOUNT_ON_DATE }}" readonly>
                                            </div>

                                            <!-- Product -->
                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">Product Name</label>
                                                <input type="text" class="form-control form_control" value="{{ case.PRODUCT_NAME }}" readonly>
                                            </div>

                                            <!-- Advocate -->
                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">Advocate Name</label>
                                                <input type="text" class="form-control form_control" value="{{ case.ADVOCATE_NAME }}" readonly>
                                            </div>

                                            <!-- Arbitrator -->
                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">Arbitrator Name</label>
                                                <input type="text" class="form-control form_control" value="{{ case.ARBITRATOR_NAME }}" readonly>
                                            </div>

                                            <div class="col-lg-12 mb-3">
                                                <label class="form-label">Arbitrator Address</label>
                                                <textarea class="form-control form_control" rows="3" readonly>{{ case.ARBITRATOR_ADDRESS }}</textarea>
                                            </div>

                                            <!-- LRN -->
                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">LRN Date</label>
                                                <input type="text" class="form-control form_control" value="{{ case.LRN_DATE }}" readonly>
                                            </div>

                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">LRN Reference Number</label>
                                                <input type="text" class="form-control form_control" value="{{ case.LRN_REFERENCE_NO }}" readonly>
                                            </div>

                                            <!-- Loan -->
                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">Loan Amount (₹)</label>
                                                <input type="text" class="form-control form_control" value="{{ case.LOAN_AMOUNT }}" readonly>
                                            </div>

                                            <div class="col-lg-6 mb-4">
                                                <label class="form-label">Loan Agreement Date</label>
                                                <input type="text" class="form-control form_control" value="{{ case.LOAN_AGREEMENT_DATE }}" readonly>
                                            </div>

                                            

                                        </div>
                                    </form>

                            </div>

                            <div class="tab-pane fade document_tab" id="document" role="tabpanel" aria-labelledby="document-tab">
                                <div class="case-all-box p-3 text-start">
                                        <h5 class="mb-3">Case Documents</h5>
                
                                        <div class="doc-item d-flex justify-content-between align-items-center p-2 mb-2 border rounded">
                                            <span>Loan Agreement - AGR-12348.pdf</span>
                                            <a href="" download class="btn btn-light">
                                                <i class="bi bi-download"></i>
                                            </a>
                                        </div>

                                        <div class="doc-item d-flex justify-content-between align-items-center p-2 mb-2 border rounded">
                                            <span>Mediation Request.pdf</span>
                                            <a href="" download class="btn btn-light">
                                                <i class="bi bi-download"></i>
                                            </a>
                                        </div>
                                    </div>
                            </div>

                            <div class="tab-pane fade actions_tab" id="actions" role="tabpanel" aria-labelledby="actions-tab">
                                <div class="case-all-box p-3 text-start">
                                    <h5 class="mb-3">Mediation Actions</h5>

                                    <!-- Appointment Letter Section -->
                                    <div class="mb-4 border rounded p-3">
                                        <h6> Mediation Appointment </h6>
                                        <p class="text-muted small">Please review the mediation appointment  and provide your acceptance.</p>
                                        <div class="d-flex gap-2">
                                            <button class="btn btn-outline-dark custom-decline">
                                                <i class="bi bi-download"></i> Download Appointment
                                            </button>
                                            <button class="btn btn-outline-danger">Decline</button>
                                            <button class="btn btn-primary">Accept Appointment</button>
                                        </div>
                                    </div>

                                    <!-- Disclosure & Consent Section -->
                                    <div class="border rounded p-3">
                                        <h6>Disclosure & Consent</h6>
                                        <p class="text-muted small">Upload signed disclosure and consent form mediation.</p>
                                        <button class="btn btn-outline-dark custom-decline">
                                            <i class="bi bi-upload"></i> Upload Disclosure
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>       
                        
                </div>   
                               
            </div>     
        </div>
    </div>




   {% include 'script.html' %}
</body>
</html>

