<!DOCTYPE html>
<html lang="en">
<head>
     {% include 'bank_user/head.html' %}
</head>
<body>

    {% include 'bank_user/header.html' %}

    <div class="container-fluid my-4 mt-3 px-5">
        <div class="row g-3">
            <div class="col-md-3">
             <div class="case-card case-purple p-3">
                <a href="my_cases.php" class="stretched-link"></a>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-10">
                            <span class="text-muted">Total Cases</span><br>
                                <i class="bi bi-file-earmark-text text-primary"></i>
                        </div>
                            <h2 class="fw-bolder">1247</h2>
                            <small class="txt-c">+12% from last month</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="case-card case-blue p-3">
                 <a href="my_cases.php" class="stretched-link"></a>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-10">
                        <span class="card-title text-muted ">Pending Validation</span><br>
                        <i class="bi bi-clock-history"></i>
                        </div>
                        <h2 class="fw-bolder">89</h2>
                        <small class="txt-c">Awaiting admin review</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="case-card case-green p-3">
                <a href="my_cases.php" class="stretched-link"></a>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-10">
                        <span class="card-title text-muted">Assigned</span><br>
                        <i class="bi bi-check-circle text-success"></i>
                        </div>
                        <h2 class="fw-bolder">967</h2>
                        <small class="txt-c">Active arbitrations</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="case-card case-yellow p-3">
                <a href="my_cases.php" class="stretched-link"></a>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-10">
                        <span class="card-title text-muted">Completed</span><br>
                            <i class="bi bi-exclamation-triangle text-primary"></i>
                        </div>
                        <h2 class="fw-bolder">191</h2>
                        <small class="txt-c">Awards passed</small>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mb-4 .case-card px-5">
        <div class="border">
            <h5 class="mb-3">Recent Cases</h5>
            <div class="row g-3">

                <!-- Card 1 -->
                <div class="col-md-4">
                    <div class="case-card p-3">
                        <div class="d-flex justify-content-between">
                            <h6 class="case-id">PROS-202501-001</h6>
                            <span class="badge status-final">Final Hearing</span>
                        </div>
                        <p class="case-title">Canara Bank vs Kavya Nair</p>
                        <p class="case-amt">₹18,26,209 <span class="case-agr">AGR-12001</span></p>
                        <p class="case-date">📅 Next hearing: 11 Jun 2025</p>
                        <p class="case-arb">👤 Arb. Verma</p>
                        <p class="case-lrn">LRN: LRN-9001</p>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-4">
                     <div class="case-card case-blue-alt p-3">
                        <div class="d-flex justify-content-between">
                            <h6 class="case-id">PROS-202501-002</h6>
                            <span class="badge status-pending">Pending Validation</span>
                        </div>
                        <p class="case-title">SBI vs Priya Singh</p>
                        <p class="case-amt">₹36,40,229 <span class="case-agr">AGR-12002</span></p>
                        <p class="case-date">📅 Next hearing: 11 Jun 2025</p>
                        <p class="case-arb">👤 Arb. darma </p>
                        <p class="case-lrn">LRN: LRN-9002</p>

                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-4">
                    <div class="case-card case-green-light p-3">
                        <div class="d-flex justify-content-between">
                            <h6 class="case-id">PROS-202501-003</h6>
                            <span class="badge status-pending">Pending Validation</span>
                        </div>
                        <p class="case-title">Canara Bank vs Sunita Sharma</p>
                        <p class="case-amt">₹2,23,215 <span class="case-agr">AGR-12003</span></p>
                        <p class="case-date">📅 Next hearing: 10 Apr 2025</p>
                        <p class="case-arb">👤 Arb. Kumar</p>
                        <p class="case-lrn">LRN: LRN-9003</p>
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="col-md-4">
                   <div class="case-card case-yellow-light p-3">
                        <div class="d-flex justify-content-between">
                            <h6 class="case-id">PROS-202501-004</h6>
                            <span class="badge status-2nd">2nd Hearing</span>
                        </div>
                        <p class="case-title">ICICI vs Rajesh Patel</p>
                        <p class="case-amt">₹15,39,931 <span class="case-agr">AGR-12004</span></p>
                        <p class="case-date">📅 Next hearing: 08 Jan 2025</p>
                        <p class="case-arb">👤 Arb. Singh</p>
                        <p class="case-lrn">LRN: LRN-9004</p>
                    </div>
                </div>

                <!-- Card 5 -->
                <div class="col-md-4">
                     <div class="case-card case-orange-light p-3">
                        <div class="d-flex justify-content-between">
                            <h6 class="case-id">PROS-202501-005</h6>
                            <span class="badge status-closed">Closed</span>
                        </div>
                        <p class="case-title">ICICI vs Kavya Nair</p>
                        <p class="case-amt">₹1,01,311 <span class="case-agr">AGR-12005</span></p>
                        <p class="case-date">📅 Next hearing: 15 May 2025</p>
                        <p class="case-arb">👤 Arb. shah</p>
                        <p class="case-lrn">LRN: LRN-9005</p>
                    </div>
                </div>

                <!-- Card 6 -->
                <div class="col-md-4">
                      <div class="case-card case-red-light p-3">
                        <div class="d-flex justify-content-between">
                            <h6 class="case-id">PROS-202501-006</h6>
                            <span class="badge status-2nd">2nd Hearing</span>
                        </div>
                        <p class="case-title">ICICI vs Sunita Sharma</p>
                        <p class="case-amt">₹31,40,379 <span class="case-agr">AGR-12006</span></p>
                        <p class="case-date">📅 Next hearing: 23 Mar 2025</p>
                        <p class="case-arb">👤 Arb. Singh</p>
                        <p class="case-lrn">LRN: LRN-9006</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
    
    {% include 'bank_user/script.html' %}

</body>
</html>
