<!doctype html>
<html lang="en">

<head>
      {% include 'bank_user/head.html' %}
</head>
<body>

  {% include 'bank_user/header.html' %}

    <div class="container-fluid mt-3">
        <div class="card  p-4 mx-5"> 

            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="page_head">
                        <div>
                            <h2>My Cases</h2>
                            <p class="num">1247 of 1247 cases</p>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <div class="input-group ser_group">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-magnifying-glass"></i></span>
                                <input type="text" class="form-control" placeholder="Search by case ID, parties, agreement...">
                            </div>
                            <select class="my_select selectpicker" data-container="body">
                                <option>All Status</option>
                                <option>Total Cases</option>
                                <option>Pending Validation</option>
                                <option>Assigned</option>
                                <option>Completed</option>
                                
                            </select>
                            <select class="my_select selectpicker" data-container="body">
                                <option>All Dates</option>
                                <option>Today</option>
                                <option>This Week</option>
                                <option>This Month</option>
                            </select>
                            <button class="download_btn"><i class="fa-solid fa-download"></i> Export</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <table class="new_table table table-hover dt-responsive myTable">
                        <thead>
                            <tr>
                                <th>Case ID	</th>
                                <th>Parties	</th>
                                <th>Amount	</th>
                                <th>Status	</th>
                                <th>Upload Date	</th>
                                <th>Next Hearing</th>	
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PROS-202501-331	</td>
                                <td>BOB vs Anita Desai	</td>
                                <td>₹39,91,923</td>
                                <td><span class="status blue">Under Review</span></td>
                                <td>27 Dec 2024	</td>
                                <td>22 May 2025</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="bg_n_btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="b_my_cases_view.php"><i class="fa-regular fa-eye me-2"></i>View</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-circle-down me-2"></i>Downlaod Documents</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-file-zipper me-2"></i>Generate Report</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>PROS-202501-331	</td>
                                <td>BOB vs Anita Desai	</td>
                                <td>₹39,91,923	</td>
                                <td><span class="status pending_validation">Pending Validation</span></td>
                                <td>27 Dec 2024	</td>
                                <td>22 May 2025</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="bg_n_btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                             <li><a class="dropdown-item" href="b_my_cases_view.php"><i class="fa-regular fa-eye me-2"></i>View</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-circle-down me-2"></i>Downlaod Documents</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-file-zipper me-2"></i>Generate Report</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>PROS-202501-331	</td>
                                <td>BOB vs Anita Desai </td>
                                <td>₹39,91,923	</td>
                                <td><span class="status passed_validation">Award Passed</span></td>
                                <td>27 Dec 2024	</td>
                                <td>22 May 2025</td>
                            
                                <td>
                                    <div class="dropdown">
                                        <button class="bg_n_btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                             <li><a class="dropdown-item" href="b_my_cases_view.php"><i class="fa-regular fa-eye me-2"></i>View</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-circle-down me-2"></i>Downlaod Documents</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-file-zipper me-2"></i>Generate Report</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>PROS-202501-331</td>
                                <td>BOB vs Anita Desai</td>
                                <td>₹39,91,923</td>
                                <td><span class="status assigned_validation">Assigned</span></td>
                                <td>27 Dec 2024	</td>
                                <td>22 May 2025</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="bg_n_btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                             <li><a class="dropdown-item" href="b_my_cases_view.php"><i class="fa-regular fa-eye me-2"></i>View</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-circle-down me-2"></i>ownlaod Documents</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-file-zipper me-2"></i>Generate Report</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

  {% include 'bank_user/script.html' %}
    <script>
        new DataTable('.myTable', {
            responsive: true
        });
    </script>
</body>

</html>