<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bank_user/head.html' %}
</head>
<body>
    
     {% include 'bank_user/header.html' %}

    <div class="container-fluid mt-3">
        <div class="card p-3 mx-5 mb-4 my-6 mt-4 rounded">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="page_head">
                        <h2>bank User Case Details - MED-20250901-001</h2>
                    </div>
            
                    <div class="col-lg-12">
                        <div class="nav_sec mb-3" id="nav-tab" role="tablist">
                            <button class="nav_link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">Overview</button>
                            <button class="nav_link" id="document-tab" data-bs-toggle="tab" data-bs-target="#document" type="button" role="tab" aria-controls="document" aria-selected="false">Documents</button>
                            <button class="nav_link" id="single_case-tab" data-bs-toggle="tab" data-bs-target="#single_case" type="button" role="tab" aria-controls="actions" aria-selected="false">Sessions</button>
                            <button class="nav_link" id="single_case-tab" data-bs-toggle="tab" data-bs-target="#single_case" type="button" role="tab" aria-controls="single_case" aria-selected="false">Settlement</button>
                            <button class="nav_link" id="single_case-tab" data-bs-toggle="tab" data-bs-target="#single_case" type="button" role="tab" aria-controls="single_case" aria-selected="false">Audit</button>
                            <button class="nav_link" id="actions-tab" data-bs-toggle="tab" data-bs-target="#actions" type="button" role="tab" aria-controls="actions" aria-selected="false">Actions</button>
                        </div>

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade active show overview_tab" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                
                                    <div class="heading">
                                        <h2>Create Single Case</h2>
                                    </div>
                                    <form action="">
                                        <div class="row">
                                            <!-- Intent Ref No -->
                                                <div class="col-lg-6 mb-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Intent Ref No</label>
                                                        <input type="text" class="form-control form_control" name="intent_ref_no">
                                                    </div>
                                                </div>

                                            <!-- Case Nos -->
                                                <div class="col-lg-6 mb-4">
                                                    <label class="form-label">Email Address</label>
                                                    <input type="email" class="form-control form_control" name="email_add">
                                                </div>

                                                <!-- Loan Agreement / Prospect No -->
                                                <div class="col-lg-6 mb-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Loan Agreement / Prospect No</label>
                                                        <input type="text" class="form-control form_control" name="loan_agreement_no">
                                                    </div>
                                                </div>

                                                <!-- Cust Name 1 -->
                                                <div class="col-lg-6 mb-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Cust Name 1</label>
                                                        <input type="text" class="form-control form_control" name="cust_name_1">
                                                    </div>
                                                </div>

                                            <!-- Address -->
                                                <div class="col-lg-12 mb-3">
                                                    <div class="mb-3">
                                                        <label class="form-label">Address</label>
                                                        <textarea class="form-control form_control" name="address" rows="3" placeholder="Enter address"></textarea>
                                                    </div>
                                                 </div>

                                                <div class="col-12 mb-3">
                                                    <label class="form-label">Party Details:</label>
                                                    <div id="parties-section">
                                                        <!-- Party 1 always present -->
                                                        <div class="row mb-2 party-group align-items-center" data-party="1">
                                                            <div class="col-lg-6">
                                                                <input type="text" class="form-control form_control" name="party_1" placeholder="Name">
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <textarea class="form-control form_control" name="party_1_add" rows="2" placeholder="Address"></textarea>
                                                            </div>
                                                            <!--<div class="col-lg-2 d-flex justify-content-start">
                                                                <button type="button" class="btn btn-success w-100 add-party-btn">+ Add</button>
                                                            </div>-->
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6 mb-4">
                                                    <label class="form-label">Pending Due Amt</label>
                                                    <input type="text" class="form-control form_control" name="pending_due_amt">
                                                </div>

                                                <div class="col-lg-6 mb-4">
                                                    <label class="form-label">Total Outstanding Amt</label>
                                                    <input type="text" class="form-control form_control" name="total_outstanding_amt">
                                                </div>

                                                <div class="col-lg-6 mb-4">
                                                    <label class="form-label">Outstanding Amt Date</label>
                                                    <input type="date" class="form-control form_control" name="outstanding_amt_date">
                                                </div>

                                                <div class="col-lg-6 mb-4">
                                                    <label class="form-label">Product</label>
                                                    <input type="text" class="form-control form_control" name="product">
                                                </div>

                                                <div class="col-lg-6 mb-4">
                                                    <label class="form-label">Adv Name</label>
                                                    <input type="text" class="form-control form_control" name="adv_name">
                                                </div>

                                                <div class="col-lg-6 mb-4">
                                                    <label class="form-label">Arb Name</label>
                                                    <input type="text" class="form-control form_control" name="arb_name">
                                                </div>

                                                <div class="col-lg-12 mb-3">
                                                    <label class="form-label">Arb Address</label>
                                                <textarea class="form-control form_control" name="address" rows="3" placeholder="Enter address"></textarea>
                                                </div>

                                                <div class="col-lg-6 mb-4">
                                                    <label class="form-label">LRN Date</label>
                                                    <input type="date" class="form-control form_control" name="lrn_date">
                                                </div>

                                                <div class="col-lg-6 mb-4">
                                                    <label class="form-label">LRN Ref No</label>
                                                    <input type="text" class="form-control form_control" name="lrn_ref_no">
                                                </div>

                                                <div class="col-lg-6 mb-4">
                                                    <label class="form-label">Loan Amount</label>
                                                    <input type="text" class="form-control form_control" name="loan_amount">
                                                </div>

                                                <div class="col-lg-6 mb-4">
                                                    <label class="form-label">Loan Agreement Date</label>
                                                    <input type="date" class="form-control form_control" name="loan_agreement_date">
                                                </div>

                                                <div class="col-lg-12">
                                                    <button type="submit" class="sub_btn w-100">Create Case</button>
                                                </div>
                                        </div>
                                   </form>
                            </div>

                            <div class="tab-pane fade document_tab" id="document" role="tabpanel" aria-labelledby="document-tab">
                                <div class="case-all-box p-3 text-start">
                                        <h5 class="mb-3">Case Documents</h5>
                
                                        <div class="doc-item d-flex justify-content-between align-items-center p-2 mb-2 border rounded">
                                            <span>Loan Agreement - AGR-12348.pdf</span>
                                            <a href="" download class="btn btn-light">
                                                <i class="bi bi-download"></i>
                                            </a>
                                        </div>

                                        <div class="doc-item d-flex justify-content-between align-items-center p-2 mb-2 border rounded">
                                            <span>Mediation Request.pdf</span>
                                            <a href="" download class="btn btn-light">
                                                <i class="bi bi-download"></i>
                                            </a>
                                        </div>
                                    </div>
                            </div>

                            <div class="tab-pane fade actions_tab" id="actions" role="tabpanel" aria-labelledby="actions-tab">
                                <div class="case-all-box p-3 text-start">
                                    <h5 class="mb-3">Mediation Actions</h5>

                                    <!-- Appointment Letter Section -->
                                    <div class="mb-4 border rounded p-3">
                                        <h6> Mediation Appointment </h6>
                                        <p class="text-muted small">Please review the mediation appointment  and provide your acceptance.</p>
                                        <div class="d-flex gap-2">
                                            <button class="btn btn-outline-dark custom-decline">
                                                <i class="bi bi-download"></i> Download Appointment
                                            </button>
                                            <button class="btn btn-outline-danger">Decline</button>
                                            <button class="btn btn-primary">Accept Appointment</button>
                                        </div>
                                    </div>

                                    <!-- Disclosure & Consent Section -->
                                    <div class="border rounded p-3">
                                        <h6>Disclosure & Consent</h6>
                                        <p class="text-muted small">Upload signed disclosure and consent form mediation.</p>
                                        <button class="btn btn-outline-dark custom-decline">
                                            <i class="bi bi-upload"></i> Upload Disclosure
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>       
                        
                </div>   
                               
            </div>     
        </div>
    </div>




   {% include 'bank_user/script.html' %}
</body>
</html>

